.list {
        padding-bottom: 10px;
}

.icon-star {
        cursor: pointer;
        font-size: 20px;
}

.notFound {
        padding-top: 150px;
        text-align: center;
}

.fw-bold {
        font-size: 22px;
        color: white;
        font-weight: bold;
}

a:visited {
        color: white;
}

.title {
        padding-left: 20px;
}